<section class="sidebar float-left"> 
<section class="page-menu" skinobjectzone="menu_4014">
<div class="page-menu-title">
<h3>{$topCates.cate_name}</h3>
</div>
<div class="page-menu-content">
<ul>
{volist name="sonCateRes" id="scate"}
<li {if condition="$scate['id'] eq $cid"} class="current" {/if}><a href="
    {if condition="$scate['cate_attr'] eq 1"}{:url('Cate/index',array('cid'=>$scate['id']))}{/if}
    {if condition="$scate['cate_attr'] eq 2"}{:url('Page/index',array('cid'=>$scate['id']))}{/if}
    {if condition="$scate['cate_attr'] eq 3"}{$scate.link}{/if}
    ">{$scate.cate_name}</a><i></i></li>
{/volist}
</ul>
  <script type="text/javascript">
                   $(document).ready(function(){
        $('.page-menu-content ul').find('li:last').addClass('last');
        
        $('.page-menu-content > ul > li > a').click(function(){
         if( $(this).parent('li').find('ul') ){
          $(this).parent('li').find('ul').slideDown('fast');
          $(this).parent('li').siblings('li').find('ul').slideUp('fast');
          $(this).parent('li').addClass('current').siblings('li').removeClass('current');
         }
        }); 
        
       });
</script></div>
</section>
 
<div class="clear"></div>
<div id="a1portalSkin_sidebarAreaA" class="QHDEmptyArea sidebar-content"></div>
</section>